body
{
    background: url(../img/Html5-source-code.png) scroll repeat-y;
}

#container
{
    display: flex;
}
aside
{
    flex: 1;
    padding: 0 2%;
}
article
{
    flex: 3;
    padding: 150px 2% 0 2%;
}

.imgMoi
{
    width: 200px;
    display: block;
    margin: auto;
}

.nomFormation, .nomExperience
{
    text-decoration: underline;
}


h1
{   font-family: "Comic Sans MS";
    font-size: 2.5em;
    text-align: center;
    color: fuchsia;
    text-shadow:3px 3px 2px indigo;
}

h2
{   font-family: "Comic Sans MS";
    font-size: 2.em;
    text-align: center;
    color:mediumblue;
    border: 2px mediumblue solid;
    border-radius : 10px / 5px;
}

p
{   font-family: "Comic Sans MS";
    font-size: 1.3.em;
    text-align: left;
    color:black;
}

a
{
    text-decoration: none;
    color:lime;
    font-style: italic;
}
a:hover
{
    font-style: normal;
    font-weight: bold;
}
a:active
{
    background-color: rgb(255, 217, 4);
}
a:visited
{
    text-decoration: underline;
    color:royalblue;
}

